@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/WOFF2/AtkinsonHyperlegibleNext-Regular.woff2') format('woff2'),
       url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/TTF/AtkinsonHyperlegibleNext-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/WOFF2/AtkinsonHyperlegibleNext-Medium.woff2') format('woff2'),
       url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/TTF/AtkinsonHyperlegibleNext-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/WOFF2/AtkinsonHyperlegibleNext-SemiBold.woff2') format('woff2'),
       url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/TTF/AtkinsonHyperlegibleNext-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/WOFF2/AtkinsonHyperlegibleNext-Bold.woff2') format('woff2'),
       url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/TTF/AtkinsonHyperlegibleNext-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/WOFF2/AtkinsonHyperlegibleNext-ExtraBold.woff2') format('woff2'),
       url('/fonts/Atkinson%20Hyperlegible%20Next/For%20Professional%20Use%20Only/Web%20Fonts/TTF/AtkinsonHyperlegibleNext-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
}